<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title> Exploring Vue </title>
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
</head>
<body>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
        </ol>
    </div>
</body>
<script src="index.js"></script>
</html>

